<script src="/static/page/style.js"></script>

<h2>{{name}}</h2>

<div class="border border-pink-2 bg-pink-0 rounded p-3 my-4">
  <div id="status" class="text-uppercase text-mono{{#if deleted}} text-danger{{else}} text-info{{/if}}">{{style.status}}</div>
  {{style.count}} images tagged <a href="/style/{{name}}/review">review</a> &middot; <a href="/classify?style={{name}}">classify</a>
  <div class="mt-3">
    <button class="btn btn-inline btn-sm btn-danger" data-style="{{name}}" id="delete">delete</button>
    <input id="new-name" class="ml-4 mr-1" placeholder="new name"/><button data-style="{{name}}" id="rename" class="btn btn-inline btn-sm btn-secondary">rename</button>
    <input id="co-tag" class="ml-4 mr-1" placeholder="co-tag..."/><button data-style="{{name}}" id="cotag" class="btn btn-inline btn-sm btn-secondary">co-tag</button>
  </div>
</div>

{{#if images}}
  <div class="">
    <div class="mb-2">Examples:</div>
    {{#each images}}
      <a class="inline mr-2 border border-blue-3 rounded bg-blue-1 p-2 float-left" href="/image/{{id}}"><img width="100" class="rounded" src="https://storage.googleapis.com/inkstory/corpus/{{id}}.jpg"/></a>
    {{/each}}
    <div class="clearfix"></div>
  </div>
{{/if}}
